:root {
  --modal-padding: 10px;
  --buttons-blue: #0941AC;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: var(--modal-padding);
}

.top {
  margin: 0;
  font-weight: 500;
  font-size: 28px;

  display: flex;
  justify-content: space-between;
  padding: var(--modal-padding);

  .closeIcon {
    color: #ccc;
  }
}

.center {

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.formControls {
  padding-top: 20px;
  display: flex;

  button {
    border: none;
    outline: none;
    margin-right: 10px;

    width: auto;
    padding: 11px 30px;
    border-radius: 8px;
    border: 1px solid rgba(9, 65, 172, 0.5);
    color: #0941AC;
    background: #fff;
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 120%;

    cursor: pointer;
    text-decoration: none;
  }

  button[type="button"]:first-child {
    background-color: var(--buttons-blue);
    color: white;
  }

  button[type="button"] {
    background-color: #333;
    color: white;
  }
}

textarea {
  outline: none;
  resize: none;
  min-width: 600px;
  border-color: transparent;
  box-shadow: inset 0 0 .5px 1px #ccc;
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 15px 10px;


  font-family: "Exo", sans-serif !important;
  box-sizing: border-box !important;
  outline: none !important;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  div:first-child {
    order: 2;
    display: flex;
    align-items: center;
  }
}